$mainColor: #191A1B;
$lightColor:#FFFFFF;
$primaryColor:#0085FF;
$lighterColor:#E7F6FE;
$lightestColor:#F3FBFF;
$successColor:#03BC90;
$pendingColor:#FC9700;

$defBRadius:24px;
$smallBRadius:8px;
$defTransition:0.3s ease-in-out;